<body>
    <div class="section no-pad-bot" id="index-banner" ng-controller="homeclr">
    <div class="container">
      <div class="row center">

        <div>
             <a ng-click="login()" id="login-button" class="btn-large waves-effect waves-light light-blue lighten-1 right"><strong>Login</strong></a>
        </div>
          <br>
          <br>
          <br>          <br>
          <br>
          <br>
          <br>

          <br>
          
          <div class="container-full">
            <nav>
                <div class="nav-wrapper">
                <form>
                    <div class="input-field white black-text">
                    <input id="search" type="search" ng-model="searchBook" required>
                    <label for="search"><i class="material-icons blue-text lighten-1">search</i></label>
                    <i class="material-icons blue-text lighten-1">close</i>
                    </div>
                </form>
                </div>
            </nav>
        </div>
         
          <br>
          <br>
          <br>
          <br>
          
        <a ng-click="search()" id="search-button" class="btn-large waves-effect waves-light light-blue lighten-1"><strong>Search</strong></a>
        
      </div>
      <br><br>

    </div>
  </div>
    
    
</body>