
<body>

 <div class="section no-pad-bot" id="index-banner" ng-controller="loginclr">
    <div class="container">
      <br><br>
      <div class="row center">

          <!--Add Search Username Here-->
          <div class="row center">
                <div class="input-field col s12">
                     <input id="email" ng-model="username" type="text" class="validate">
                     <label for="email">Webmail ID</label>
                </div>
          </div>
          <!--End Of username Box-->
             
          <!--Add Search Password Here-->
          <div class="row">
                <div class="input-field col s12">
                        <input id="password" ng-model="password" type="password" class="validate">
                        <label for="password">Webmail Password</label>
                </div>
          </div>
          <!--End Of password Box-->

        <a ng-click="profile()" id="search-button" class="btn-large waves-effect waves-light light-blue lighten-1"><strong>LOGIN</strong></a>    
      </div>
      <br><br>
    </div>
  </div>
  
  <br><br><br><br><br>
  
  <footer class="page-footer blue lighten-1">
    <div class="footer-copyright blue lighten-1">
      <div class="container white-text">
      Made by <a class="white-text" href="https://www.facebook.com/vivek.kalola.9"><b>Vvek :P</b></a>
      <a class="white-text right" href="#"><b><i class="medium material-icons">call_missed</i></b></a>
      </div>
    </div>
  </footer> 

  
  
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
