<body>
<div class="container center" ng-controller="otherclr">
   <br><br>
     <h4> Search Other Student's Profile </h4>
            <br><br><br>
            <nav>
                <div class="nav-wrapper white black-text center">
                
                <form>
                    <div class="input-field white black-text">
                    <input id="search" type="search" ng-model="searchprofile" required>
                    <label for="search"><i class="material-icons blue-text lighten-1">search</i></label>
                    <i class="material-icons blue-text lighten-1">close</i>
                    </div>
                </form>
                </div>
            </nav>         
          <br>
          <br>
          
        <a ng-click="otherprofile()" id="search-button" class="btn-large waves-effect waves-light light-blue lighten-1"><strong>Search</strong></a>
        <br><br><br><br><br><br>
      </div>
</body>